*.png
*.png.meta
*Asset.asset
*Asset.asset.meta
*debugLog.txt
*debugLog*.txt
*colon.meta

# =============== #
# Unity generated #
# =============== #
MRI Project/[Tt]emp/
MRI Project/[Oo]bj/
MRI Project/[Bb]uild
MRI Project/[Ll]ibrary/
MRI Project/sysinfo.txt
MRI Project/*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
MRI Project/[Ee]xported[Oo]bj/
MRI Project/.vs/
MRI Project/*.userprefs
MRI Project/*.csproj
MRI Project/*.pidb
MRI Project/*.suo
MRI Project/*.sln*
MRI Project/*.user
MRI Project/*.unityproj
MRI Project/*.booproj
MRI Project/.idea*/
 
# ============ #
# OS generated #
# ============ #
MRI Project/.DS_Store*
MRI Project/._*
MRI Project/.Spotlight-V100
MRI Project/.Trashes
MRI Project/ehthumbs.db
MRI Project/[Tt]humbs.db
MRI Project/[Dd]esktop.ini